<template>
  <Container>
    <ul class="links">
      <li v-for="l in links" :key="l.link">
        <Link :link="l" />
      </li>
    </ul>

    <ul class="links">
      <li v-for="l in craftLinks" :key="l.link">
        <Link :link="l" />
      </li>
    </ul>

    <VueEasyLightbox
      :visible="lb_show"
      :imgs="lb_images"
      :index="lb_index"
      :move-disabled="true"
      :pinch-disabled="true"
      :rotate-disabled="true"
      :zoom-disabled="true"
      @hide="hideLightbox"
    />

    <div v-if="tempLeague.length > 0" class="cheat-sheet-wrapper">
      <div v-for="(cs, i) in tempLeague" :key="i" class="cheat-sheet" @click="openGallery(tempLeague, i)">
        <img :src="getAssetUrl('cheat-sheets/thumb', cs.src)" />
        <div class="cheat-sheet-title">{{ cs.name }}</div>
      </div>
    </div>

    <div v-if="cheatSheets.length > 0" class="cheat-sheet-wrapper">
      <div v-for="(cs, i) in cheatSheets" :key="i" class="cheat-sheet" @click="openGallery(cheatSheets, i)">
        <img :src="getAssetUrl('cheat-sheets/thumb', cs.src)" />
        <div class="cheat-sheet-title">{{ cs.name }}</div>
      </div>
    </div>
  </Container>
</template>

<script setup lang="ts">
import type { Ref } from 'vue'
import { ref } from 'vue'
import VueEasyLightbox from 'vue-easy-lightbox'

import Container from '@/components/Container.vue'
import Link from '@/components/Link.vue'
import type { CheatSheet } from '@/data/config'
import { cheatSheets, craftLinks, links, tempLeague } from '@/data/config'

const lb_show = ref(false)
const lb_index = ref(0)
const lb_images: Ref<string[]> = ref([])

function getAssetUrl(folder: string, name: string) {
  return new URL(`../assets/${folder}/${name}`, import.meta.url).href
}

function openGallery(gallery: CheatSheet[], index: number) {
  lb_index.value = index
  lb_images.value = gallery.map((g) => getAssetUrl('cheat-sheets', g.src))
  showLightbox()
}

function showLightbox() {
  lb_show.value = true
}
function hideLightbox() {
  lb_show.value = false
}
</script>

<style lang="scss" scoped>
ul.links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 2rem 0;
  list-style: none;

  li {
    text-align: center;
  }
}

.cheat-sheet-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;

  .cheat-sheet {
    position: relative;
    width: 250px;
    height: 150px;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    transition: all 0.3s;

    &-title {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: var(--text-color-light);
      text-align: center;
      background: black;
      opacity: 0;
      transition: all 0.3s;
    }

    &:hover {
      border: 1px solid var(--text-color-light);

      .cheat-sheet-title {
        opacity: 0.8;
      }
    }
  }
}
</style>

<style>
.vel-btns-wrapper .vel-toolbar {
  display: none;
}
</style>
