<template>
  <div class="content" :class="{ 'min-height': minHeight }">
    <div class="backdrop"></div>

    <div class="wrapper">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  minHeight: {
    type: Boolean,
    default: true
  }
})
</script>

<style lang="scss" scoped>
.content {
  position: relative;
  z-index: 100;
  padding: 4px 0;
  text-align: left;

  &.min-height {
    min-height: 60vh;
  }

  .backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: 2px 20px 10px;
    background: rgb(0 0 0 / 80%);
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 78%);
  }

  .wrapper {
    padding-bottom: 4px;
    margin: 5px 30px;
  }
}
</style>
