<template>
  <table class="table table-sm table-borderless">
    <thead>
      <tr>
        <th
          v-for="column in columns"
          :key="'col-' + column.field"
          :class="[column.align, computeSortingClasses(column)]"
          @click="column.sortable && sortBy(column.field)"
        >
          <span v-if="column.label">{{ column.label }}</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(row, i) in sortedRows" :key="'row-' + i">
        <td v-for="column in columns" :key="'row' + i + 'col-' + column.field" :class="[column.align]">
          <slot v-if="column.slot" :name="column.slot" :data="row" />
          <span v-else>{{ row[column.field] }}</span>
        </td>
      </tr>

      <tr v-if="!sortedRows.length">
        <td :colspan="columns.length" class="no-entry">Still sane exile?</td>
      </tr>
    </tbody>
  </table>
</template>

<script setup lang="ts">
import { orderBy } from 'lodash-es'
import type { PropType, Ref } from 'vue'
import { computed, onMounted, ref } from 'vue'

type SortOrder = boolean | 'asc' | 'desc'

type Column = {
  field: string
  label: string
  align: 'right' | 'left' | 'center'
  sortable: boolean
  slot: string
}

type Row = {
  [key: string]: string | number
}

const props = defineProps({
  /** List of columns of the table */
  columns: {
    type: Array as PropType<Column[]>,
    required: true
  },
  /** List of rows of the table */
  rows: {
    type: Array as PropType<Row[]>,
    required: true
  },
  /** Default sort order */
  defaultSort: {
    type: String as PropType<SortOrder>,
    default: ''
  },
  /** Default sort field */
  defaultSortField: {
    type: String,
    default: ''
  }
})

const sort: Ref<SortOrder> = ref(props.defaultSort)
const sortField = ref(props.defaultSortField)

const sortedRows = computed(() => {
  if (sort.value !== false) return orderBy(props.rows, [sortField.value], [sort.value])
  return props.rows
})

onMounted(() => {
  sort.value = (localStorage.getItem('mapsSort') as SortOrder) || props.defaultSort
  sortField.value = localStorage.getItem('mapsSortField') || props.defaultSortField
})

function sortBy(field: string) {
  // Reset if new column sorted
  if (sortField.value !== field) {
    sort.value = false
    sortField.value = ''
  }

  sort.value = sort.value === false ? 'asc' : sort.value === 'asc' ? 'desc' : false
  sortField.value = sort.value ? field : ''

  localStorage.setItem('mapsSort', String(sort.value))
  localStorage.setItem('mapsSortField', sortField.value)
}

function computeSortingClasses(column: Column) {
  if (column.sortable && sortField.value === column.field) return `sortable sortable-${sort.value}`
  if (column.sortable) return 'sortable'
  return ''
}
</script>

<style lang="scss" scoped>
.table {
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-color);

  th,
  td {
    padding: 5px;
    vertical-align: middle;

    &.center {
      text-align: center;
    }
  }

  th {
    color: var(--text-color-light);
    white-space: nowrap;
    user-select: none;

    &.sortable {
      cursor: pointer;
    }

    &.sortable::after,
    &.sortable-asc::after {
      display: inline-block;
      margin-left: 5px;
      vertical-align: baseline;
      visibility: hidden;
      content: '▼';
    }

    &.sortable-desc::after {
      content: '▲';
    }

    &.sortable:hover::after,
    &.sortable-asc::after,
    &.sortable-desc::after {
      visibility: visible;
    }
  }

  td {
    white-space: nowrap;

    &.no-entry {
      padding: 50px 0;
      font-style: italic;
      text-align: center;
    }
  }
}
</style>
