<template>
  <a v-if="!link.links" :href="link.link" target="_blank">
    <img :src="getAssetUrl('links', link.icon)" :alt="link.name" />
    {{ link.name }}
  </a>

  <Menu v-else theme="poe-tools">
    <a :href="link.link" target="_blank">
      <img :src="getAssetUrl('links', link.icon)" :alt="link.name" />
      {{ link.name }}
    </a>

    <template #popper>
      <a v-for="l in link.links" :key="l.name" :href="l.link" target="_blank">
        <img :src="getAssetUrl('links', l.icon)" :alt="l.name" />
        {{ l.name }}
      </a>
    </template>
  </Menu>
</template>

<script setup lang="ts">
import { Menu } from 'floating-vue'
import type { PropType } from 'vue'

import type { Link } from '@/data/config'

defineProps({
  link: {
    type: Object as PropType<Link>,
    required: true
  }
})

function getAssetUrl(folder: string, name: string) {
  return new URL(`../assets/${folder}/${name}`, import.meta.url).href
}
</script>

<style lang="scss" scoped>
a {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: var(--text-color-light);
    text-decoration: none;
  }
}

img {
  display: block;
  height: 48px;
  margin: 0 auto 0.5rem;
}
</style>
