<template>
  <div class="tab" :class="{ active }">{{ label }}</div>
</template>

<script setup lang="ts">
defineProps({
  label: {
    type: String,
    required: true
  },

  active: {
    type: Boolean,
    default: false
  }
})
</script>

<style lang="scss" scoped>
.tab {
  $base-color: #a38b63;
  $active-color: #cac2a8;

  position: relative;
  height: 23px;
  font-size: 12px;
  line-height: 23px;
  color: $base-color;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;

  &:hover,
  &.active {
    color: $active-color;
    border-bottom: 2px solid $active-color;
  }
}
</style>
