<template>
  <footer>
    <p>Version {{ version }}</p>
  </footer>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const version = computed(() => import.meta.env.__APP_VERSION__)
</script>

<style lang="scss" scoped>
footer {
  padding: 9px 0;
  margin: 25px 50px;
  color: #3f3d39;
  text-align: center;
}
</style>
