<template>
  <NewUrl />

  <div class="container">
    <header class="header">
      <h1><img alt="POE Tools" src="@/assets/logo.png" /></h1>
    </header>

    <Home />

    <VersionFooter />
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue'

import VersionFooter from '@/components/VersionFooter.vue'
import { MAX_BG_VERSION, MIN_BG_VERSION } from '@/data/config'

import NewUrl from './NewUrl.vue'
import Home from './views/Home.vue'

// Get background of the day
onBeforeMount(() => {
  const today = new Date()
  const version = (today.getDay() % (MAX_BG_VERSION - MIN_BG_VERSION + 1)) + MIN_BG_VERSION
  const folder = import.meta.env.BASE_URL
  document.documentElement.style.setProperty('--bg-image', `url('${folder}bg/bg-3.${version}.jpg')`)
})
</script>

<style lang="scss">
:root {
  --body-color: #bb9e74;
  --text-color: #a38b63;
  --text-color-light: #cac2a8;
  --text-color-blue: #00b6ff;
  --border-radius: 2px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--body-color);
  background-color: #000;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: contain;
}

.icon {
  width: 16px;
  cursor: pointer;

  & + .icon {
    margin-left: 0.5rem;
  }
}
</style>

<style lang="scss" scoped>
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  text-align: center;

  header {
    text-align: center;
  }
}
</style>
