<template>
  <div class="new-url">Nouvelle URL : <a href="https://finrod.gitlab.io/hub/">https://finrod.gitlab.io/hub/</a></div>
</template>

<style scoped lang="scss">
.new-url {
  position: fixed;
  top: 0.6rem;
  right: 30%;
  left: 30%;
  z-index: 5000;
  text-align: center;

  a {
    color: var(--text-color);
  }
}
</style>
